@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@font-face {
  font-family: "Dirtyline";
  src: url("/fonts/Dirtyline.woff2") format("woff2");
}

@layer components {
  .menu {
    user-select: none;
    counter-reset: menucounter;
    z-index: 11;
  }

  .menu-item {
    position: relative;
    cursor: pointer;
  }

  /*
  Menu Item Text
  */
  .menu-item::before {
    counter-increment: menucounter;
    content: counters(menucounter, ".", decimal-leading-zero);
    position: absolute;
    left: -15px;
    top: -0.1rem;
    font-size: 10px;
  }

  .menu-item-text {
    pointer-events: none;
    line-height: 1;
    position: relative;
  }

  .menu-item > div:nth-child(1) span {
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--index));
    transform-origin: bottom;
    display: inline-block;
  }

  .menu-item > div:nth-child(2) span {
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--index));
    transform-origin: top;
    display: inline-block;
    transform: translate3d(0, 100%, 0) rotateX(-90deg);
  }

  .menu-item:hover > div:nth-child(1) span {
    transform: translate3d(0, -100%, 0) rotateX(-90deg);
  }

  .menu-item:hover > div:nth-child(2) span {
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }
}
